extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/about.jpg", alt="About Image")
            .col-md-7
                h1 #{pageTitle}
                blockquote In hendrerit eros a orci hendrerit pellentesque. Nunc tempor pretium ornare. Suspendisse euismod cursus urna, nec posuere quam tempus eget. Maecenas molestie dictum orci ut ultricies.
                p  Aliquam dapibus ut nibh sed finibus. Aenean odio ipsum, vehicula id scelerisque sed, suscipit sed sapien. Nulla et tellus sed sem interdum pellentesque in vitae neque. Integer tempor elit tellus, id venenatis justo tincidunt in. Duis feugiat est nec luctus pretium. 
                p Proin nec sapien eleifend, hendrerit orci in, consectetur velit. Phasellus et elit felis. Integer at finibus nulla. Nulla facilisi. Mauris tristique aliquet commodo. Donec odio enim, viverra sed pulvinar eget, condimentum nec nunc. 